.list-item {
  height: 300px;
  flex: 1;
  min-width: 100%;
  @media only screen and (min-width: 577px) {
    flex: 0.5;
    min-width: 50%;
  }
  @media only screen and (min-width: 991px) {
    flex: 0.33;
    min-width: 33.33%;
  }
  @media only screen and (min-width: 1200px) {
    flex: 0.25;
    min-width: 25%;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    position: relative;
    height: 100%;
    width: 100%;
    transition: all 600ms ease-in-out;
    opacity: 0;
    animation: fadein 500ms ease-in-out 600ms;
    animation-fill-mode: forwards;

    img {
      height: 80%;
      max-height: 400px;
    }

    h3 {
      font-size: 3rem;
      font-family: "Chewy", cursive;
      color: rgba(0, 0, 0, 0.6);
    }

    .bg {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: -1;
      border-radius: 30px;
      opacity: 0;
      transform: scale(0.6);
      transform-origin: bottom;
      transition: all 0.4s;
    }
  }
  &:hover {
    a {
      .bg {
        opacity: 1;
        transform: scale(1);
      }
      img {
        animation: jump 0.5s;
      }
    }
  }
}

@keyframes jump {
  0% {
    transform: translateY(0px) scale(1, 0.9);
  }
  40% {
    transform: translateY(-60px) scale(0.9, 1.1);
  }
  100% {
    transform: translateY(0px) scale(1, 1);
  }
}
